.container-auth {
  margin-top: 0px;
  flex-grow: 1;
  height: calc(100vh - 8px);
  width: calc(100% - 8px);
  background-color: #1a1919;
  border: 4px solid #2c8570;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-auth {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  height: auto;
  min-height: 60%;
  border: 4px solid #2c8570;
  background-color: #1a1919;
  padding: 2rem;
  border-radius: 10%;
  margin-top: 80px;
  position: relative;
  margin-bottom: 1rem;
}

.input-auth {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #d1d6d5;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-auth.valid {
  border-color: #2c8570;
  box-shadow: 0 0 5px rgba(44, 133, 112, 0.4);
}

.input-auth.invalid {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}

.submit-button {
  background-color: rgb(44, 133, 112);
  color: white;
  padding: 0.75rem;
  border: 1px soldi white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.signup-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin-top: 10px;
  border: 1px solid #2c8570;
}

.link-signup {
  color: #2c8570;
  cursor: pointer;
}

.link-signup:hover {
  color: rgb(134, 207, 190);
  cursor: pointer;
}

.password-checklist {
  position: relative;
  margin: 10px;
  display: block;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin: 0;
  font-weight: bold;
  background-color: #1a1919;
}

@media (max-width: 1025px) {
  .form-auth {
    width: 100%;
    position: relative;
    background-color: transparent;
    border: none;
  }
  .signup-div {
    background: #1a1919;
  }
  .password-checklist {
    background: #1a1919;
  }
  .invalid-div {
    background: #1a1919;
  }
}
