.container-auth {
  margin-top: 0px; 
  flex-grow: 1;
  height: calc(100vh - 8px);
  width: calc(100% - 8px);
  background-color: #1a1919;
  border: 4px solid #2c8570;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.form-auth {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    height: auto;
    min-height: 60%;
    border: 4px solid #2c8570;
    background-color: #1a1919 ;
    padding: 2rem;
    border-radius: 10%;
    margin-top: 80px;
    position: relative;
    margin-bottom: 1rem
}

.input-auth {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #2c8570;
}

.input-auth-signup {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #d1d6d5;
}

.valid-input {
    border: 1px solid rgb(44, 133, 112);
}

.submit-button {
    background-color: rgb(44, 133, 112);
    color: white;
    padding: 0.75rem;
    border: 1px soldi white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.signup-div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    color: white;
    margin-top: 10px;
    border: 1px solid #2c8570;
}

.link-signup{
    color: #2c8570;
    cursor: pointer;
}

.link-signup:hover{
    color:  rgb(134, 207, 190);
    cursor: pointer;
}

.invalid-div{
    border: 1px solid red;
    border-radius: 4px;
    padding: 1rem;
    font-weight: bold;
}

.password-checklist {
    margin: 10px;
    margin-top: 0px ;
    margin-bottom: 0px;
    display: flex;
    align-items: start;
 flex-direction: column;
}

@media (max-width: 1025px) {
    .form-auth{
        width: 100%;
        position: relative;
        background-color: transparent;
        border: none;
    }
    .signup-div{
        background: #1a1919;
    }
    .password-checklist{
        background: #1a1919;
    }
    .invalid-div{
        background: #1a1919;
    }
    
}