.typewriter {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 2em;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@media (max-width: 768px) {
  .typewriter {
    font-size: 4vw;
  }
}
